@import url(https://fonts.googleapis.com/css?family=Raleway:500);
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
}

body > nav {
  grid-area: nav;
  background: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

body > main h1:first-child {
  margin-bottom: 50px;
  text-align: center;
  font-size: xx-large;
}

nav > a:last-child {
  margin-left: auto;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
}

.event:hover {
  transform: scale(1.05);
}

nav > a:hover:not(.active) {
  background-image: linear-gradient(
    90deg,
    #00c0ff 0%,
    #ffcf00 49%,
    #fc4f4f 80%,
    #00c0ff 100%
  );
  animation: slidebg 5s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

nav > a.active {
  color: white;
  cursor: default;
}

input {
  margin-bottom: 1.5rem;
  background: white;
  border: none;
  /* height: 3rem; */
  border-radius: 4px;
  /* min-width: 20rem; */
  /* display: block; */
  padding: 0 1rem;
}

:focus {
  outline: 3px solid red;
}

button {
  border: none;
  height: 1rem;
  padding: 0 1rem;
  border-radius: 4px;
  cursor: pointer;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *,
#add-comment-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #762b71;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #b8c0c2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: white;
}

#show-page {
  background: hsl(var(--hue) 30% 90%);
  font-family: Fraunces;
  /* color: whitesmoke; */
  padding: 20px;
  /* margin: auto; */
  text-align: center;
  border-radius: 5px;
  border: solid;
  border-color: #a507b3;
  color: hsl(var(--hue) 80% 45%);
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

#add-comment-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#add-comment-form input[type="submit"] {
  width: 10rem;
  grid-column: 2 / 3;
}

hr {
  color: #424748;
}

ul {
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
}

li {
  font-weight: bold;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.comment-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-user img {
  border-radius: 50%;
  height: 40px;
}

html {
  --max-width: 80rem;
  --margin: 2rem;
  --gutter: 2px;
  --font: Fraunces, serif;
  --hue: 340deg;
  --background: hsl(var(--hue) 20% 94%);
  --background-alt: hsl(var(--hue) 20% 100%);
  --text: hsl(var(--hue) 80% 45%);

  font-family: var(--font);
  font-size: min(120%, 5vw);
  line-height: 1.25;
  color: var(--text);
  background: var(--background);
}
html,
main,
article {
  container-type: inline-size;
}

h1,
.event-date {
  /* cqi =	1% of a query container’s inline size */
  font-size: max(1.25rem, 7cqi - 1rem);
  font-weight: 700;
  line-height: 1;
  margin: 0;
  mix-blend-mode: multiply;
}

/* Layout */
main {
  width: min(100% - (var(--margin) * 2), var(--max-width));
  margin: var(--margin) auto;
  filter: drop-shadow(0 0.33rem 0.33rem hsl(var(--hue) 50% 90%));
}
.event {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto 2rem;
  background: var(--background-alt);
  border-radius: 0.33rem;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.event-image {
  display: block;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: span 2;
  grid-row-end: span 2;
  width: 100%;
  height: calc(100% - 2rem);
  object-fit: cover;
}
.event-name {
  grid-column-start: 1;
  grid-row-start: 2;
  align-self: end;
  margin-left: 1rem;
}
.event-date {
  grid-row-start: 2;
  grid-column-start: 2;
  font-weight: 100;
  margin: 0 1rem;
  align-self: end;
  text-align: right;
  opacity: 0.8;
}

.event-category {
  grid-column-end: 2;
  grid-row-start: 3;
  margin: 0.5rem 1rem 1rem;
  line-height: 1.2;
  opacity: 0.5;
}

.a-details {
  grid-column-start: 2;
  grid-row-start: 3;
  align-self: end;
  text-align: right;
  opacity: 0.8;
  /* font-size: max(1.25rem, 12cqi - 1.5rem); */
  line-height: 1;
  mix-blend-mode: multiply;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  text-decoration: none;
}

.event-list {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 1fr;
  gap: var(--gutter);
}
@media (min-width: 50em) {
  .event-list {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }
  .product {
    margin-bottom: 0;
  }
}

/* 7=integer step size, 6 =integer offset, */
.event:nth-child(7n-6) {
  grid-column-end: span 2;
  grid-row-end: span 2;
}
